In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("./Dataset/ABC_data.csv")
data.head()

         date   open    high    low  close   volume Name
0  2013-02-08  46.52  46.895  46.46  46.89  1232802  ABC
1  2013-02-11  46.85  47.000  46.50  46.76  1115888  ABC
2  2013-02-12  46.70  47.050  46.60  46.96  1318773  ABC
3  2013-02-13  46.74  46.900  46.60  46.64  2645247  ABC
4  2013-02-14  46.67  46.990  46.60  46.77  1941879  ABC